.q1{
    margin-right: 20px;

    
}
.navbar-nav{
    margin-left: 160px;
}
.w1{
    font-size: 15px;
    font-weight: 800;
    padding-top: 10px;
}
.nav-item{
    margin-left: 10px;
}
.nav-link{
    color: black;
}
.e1{
    color: blue;
    margin-top: 70px;
}
.e2{
    font-weight: 900;
    font-size: 50px;
}
.e3{
    font-weight: 600;
    font-size: 16px;
}
.ana1{
    margin-top: 130px;
    border-radius: 50%;
    background-color: mistyrose;
}
.r1{
    margin-top: -190px;
    margin-left: 125px;
}
.t1{
    text-decoration: none;
    color: white;
    display: inline;
    background-color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.y1{
    

    color: white;
    display: inline;

}
.t2{
    color: white;
    display: inline;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
}
.m1{
    margin-left: 190px;
    margin-top: -23px;
}
.c2{
    background-color: #EEF1F6;
}
.c1{
    font-weight: 700;
    font-size: 45px;
}
.c3{
    font-weight: 600;
    font-size: 17px;
}
.i1{
padding: 10px;
background-color: white;
padding-bottom: 20px;
border-radius: 15px;
}
.u1{
margin-top: 13px;
}
.q7{
    margin-top: 20px;
    
}
.u2{
    margin-top: 13px;
}
.i1:hover{
  

border: 3px solid black;
    

    

}